<h1>Aplicación de rails</h1>
<a href="basics">Página estática 1</a> <br>
<a href="ruby">Página estática 2</a> <br>
<a href="git">Página estática 3</a>
<br>
<br>
<p> <%= @fecha %> </p>
<p> <%= @hora %> </p>

#Cree una aplicaci ́on Rails nueva con 1 controlador y 4 p ́aginas
#est ́aticas. El entregable debe tener las siguientes caracter ́ısticas:
#La aplicaci ́on debe estar alojada en GitHub como repositorio remoto
#utilizando su cuenta personal.
#La aplicaci ́on debe estar en producci ́on utilizando Heroku y debe poder
#ser accedida a trav ́es de internet como un subdominio de Heroku (e.g
#XXXX.herokuapp.com).
#El subdominio de Heroku debe ser personalizado.

#El home debe contener links hacia las otras 3 p ́aginas est ́aticas y la fecha y hora actual.