<h1>Página número 1</h1>
<br> 
<br>
<ul>
    <li>
        <p> <b>¿Qué es un resource en el contexto de una aplicacion web REST
        en Ruby on Rails?</b></p>
        <p>Un resource es cualquier elemento que se pueda identificar a través de un nombre y con este,
         se pueda ejecutar una acción u obtener información.</p>
        <br>
    </li>
    <li>
        <p> <b>¿Qué puede hacerse con un resource?</b></p>
        <p>Los resources en la arquitecura REST pueden ser creados, leídos, actualizados y borrados </p>
        <br>    
    </li>
    <li>
        <p> <b>¿Qué es RESTful routing?</b></p>
        <p> Son las URL(las rutas) encargadas de realizar una operación específica sore un recurso </p>
        <br>    
    </li>
    <li>
        <p> <b>¿Cuántas acciones básicas tiene esta filosofía?</b></p>
        <p> Son siete </p>
        <br>    
    </li>
    <li>
    <p> <b>¿Cuáles son?</b></p>
    <p> INDEX, NEW, CREATE, SHOW, EDIT, UPDATE, DESTROY </p>
    <br>    
    </li>
    <li>
    <p> <b>¿Cuáles verbos HTTP se utilizan en cada una de ellas?</b></p>
    <table> 
    <tr>
    <th> Acción </th>
    <th> Verbo HTTP </th>
    </tr>
    <tr>
        <td>
            Index
        </td>
        <td>
            GET
        </td>
    </tr>
    <tr>
        <td>
            Show
        </td>
        <td>
            GET
        </td>
    </tr>
    <tr>
        <td>
            New
        </td>
        <td>
            GET
        </td>
    </tr>
    <tr>
        <td>
            Create
        </td>
        <td>
            POST
        </td>
    </tr>
    <tr>
        <td>
            Edit
        </td>
        <td>
            GET
        </td>
    </tr>
    <tr>
        <td>
            Update
        </td>
        <td>
            PATCH
        </td>
    </tr>
    <tr>        
        <td>
            Destroy
        </td>
        <td>
            DELETE 
        </td>
    </tr>
    </table>
    <br>  
    </li>
</li>
</ul>

#La p ́agina est ́atica 1 debe ser accedida a trav ́es del path /basics y
#debe responder las siguientes preguntas con sus propias palabras:
