<h1>Página número 2</h1>
<br> 
<br>
<ul>
    <li>
        <p> <b>Interpolación de strings</b></p>
        <p>La interpolacion de strings permite insertar instruciones de ruby dentro de una cadena de texto.
        El string debe estar declarado con comillas dobles y el código ruby puede ser invocado utilizando #{codigo} </p>
        <br>
    </li>
    <li>
        <p> <b>Cómo se declara un array y cómo se adiciona un elemento al final del array.</b></p>
        <p>Se declara con [] y los elementos deben ir separados por comas, o también llamando la clase Array.new 
        Para adicionar un elemento al final del array se debe utilizar el método push(elemento)</p>
        <br>    
    </li>
    <li>
        <p> <b>Cómo se itera un array utilizando el comando each.</b></p>
        <p> Se utiliza el nombre de la variable, seguido de la palaba .each {|variable que representa cada elemento de la iteracion| accion}</p>
        <br>    
    </li>
    <li>
        <p> <b>Cómo se declara un hash.</b></p>
        <p> Un hash es un array asociativo que relaciona un índice y un objeto (keys and value). Para declararlo
        se puede utilizar ={}. Se pueden declarar los elementos de las siguientes formas:
        <ul>
            <li>
                variable ={ key => value, key2 => value2 }
            </li>
            <li>
                variable ={ key:value, key2:value2 }
            </li>
            <li>
                variable ={} <br>
                variable [key] = value
            </li>
        </ul>
        </p>
        <br>    
    </li>
    <li>
        <p> <b>Cómo se itera un hash utilizando el comando each.</b></p>
        <p> variable.each do | key, value | acción </p>
        <br>    
    </li>
    <li>
        <p> <b>¿Qué es un block en ruby? Dé un ejemplo de cómo utilizarlo.</b></p>
        <p>    </p>
        <br>  
    </li>
    <li>
        <p> <b>¿Cuál es la convención en Ruby a la hora de nombrar variables?</b></p>
        <p>    </p>
        <br>  
    </li>
    <li>
        <p> <b>¿Qué son attr reader, attr writer y attr accesor?¿Para qué sirven?</b></p>
        <p>    </p>
        <br>  
    </li>
</li>
</ul>

#La p ́agina est ́atica 2 debe ser accedida a trav ́es del path /ruby y debe
#contener un resumen de c ́omo se realizan las siguientes acciones en ruby: