<h1>Página número 3</h1>
<br> 
<br>
<ul>
    <li>
        <p> <b>Inicialización de un repositorio de git nuevo en una aplicación existente.</b></p>
        <p> Se ejecuta el comando git init   </p>
        <br>
    </li>
    <li>
        <p> <b>Creación de un branch nuevo.</b></p>
        <p> Se ejeecuta el comando git checkout  </p>
        <br>        
    </li>
    <li>
        <p> <b>Realizar un commit incluyendo todos los cambios actuales.</b></p>
        <p> Se ejecuta el comando git commit -m "mensaje" </p>
        <br>    
    </li>
    <li>
        <p> <b>Cómo enviar el código al repositorio remoto.</b></p>
        <p> Se ejecuta el comando git push remote master </p>
        <br>    
    </li>
    <li>
        <p> <b>Cómo configurar el origen del repositorio remoto para evitar escribirlo siempre cada vez 
        que se hace un push o un pull.</b></p>
        <p> Se escribe git remote add origin https://github.com/nombre </p>
        <br>    
    </li>
    <li>
        <p> <b>Diferencia entre un reset y revert.</b></p>
        <p> El revert es revertir el último commit hecho y el reset es para retroceder a un commit cualquiera</p>
        <br>  
    </li>
    <li>
        <p> <b>Además de cambiar de ramas, para qué más se puede utilizar el comando git checkout./b></p>
        <p> Se puede utilizar para cambiar o para crear ramas </p>
        <br>  
    </li>
    <li>
        <p> <b>Cómo puede ver los commits que se han realizado en el proyecto.</b></p>
        <p> Se pueden obsevar ejectutando git log </p>
        <br>  
    </li>
    <li>
        <p> <b>He modificado dos archivos y quiero hacer un commit por cada uno de ellos, ¿cómo lo puedo
        hacer?</b></p>
        <p> Se debe realizar un git add y un git commit por cada archivo </p>
        <br>  
    </li>
</li>
</ul>

#La p ́agina est ́atica 3 debe ser accedida a trav ́es del path /git y debe
#contener un resumen de c ́omo se realizan las siguientes acciones usando
#solamente git por consola:

